# Data Science Tools and Ecosystem

In this notebook are some elements about things learned in the course Tools from Data Science

Popular languages used in Data Science:
1.  Python 
2.  R
3.  SQL
4.  C++
5.  Java

Some of most used libraries in Data Science:
1.  TensorFlow.
2.  NumPy.
3.  SciPy.
4.  Keras.
5.  Pandas.
6.  Matplotlib.
7.  Scikit-Learn.
8.  Pytorch.

|Data Science Tools|
|---|
|SAS|
|TensorFlow|
|Apache Hadoop|

### Examples of arithmetic expression in Python

In [5]:
#this is an example od arithmetic expression
(3*7)+5

26

In [1]:
#this is an example of time conversion 
180/60

3.0

_Objective_
* List languages for DataScience
* List libraries for DataScience
* List DataScience Tools
* How to write comments in cells

## Author
Marco Moschetta